* {
    box-sizing: border-box;
}

  
body {
    display: flex;
    flex-direction: column;
}

/* ----------------------------*/

h1{
    text-align: center;
}

#about{
    text-align: center;
}

form {
    text-align: center;
    margin-top: 2em;
}

input{
    margin: 0.2em;
}


/* ----------------------------*/

.row-column {
    margin-top: 2em;
}

#newsAPI, #youTubeAPI {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    height: 50vh;
    overflow: scroll;
}


.hidden {
    display: none;
}
