@media screen and (min-width: 1024px) {
    
    main {
        display: flex;
        flex-direction: row;
    }

    .row-column {
        width: 50vw;
    }

    .sort {
        display: block;
    }


}


