@media screen and (min-width: 1024px) {
    
   main {
        flex-direction: row;
   }

   #newsAPI, #youTubeAPI {
       width: 38vw;
   }

   a { /* #newsAPI, #youTubeAPI */
        font-size: 1em;
    }

}

@media screen and (min-width: 1280px) {
    
    .vid-title {
        font-size: 1.5em;
    }

 }




